/* onload for hero */
.modulate{
    animation: modulate 4s ease-in-out infinite;
}

@keyframes modulate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

.breath{
    animation: breath 3s ease-in-out infinite;
}

@keyframes breath {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0px);
    }
}

.breath2{
    animation: breath2 3s ease-in-out infinite;
}

@keyframes breath2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(0px);
    }
}



.fadeUp{
    animation:fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
    0%{
        transform:translateY(20px);
        opacity: 0.2;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}

.fadeDown{
    animation:fadeDown 1s ease-in-out;
}

@keyframes fadeDown {
    0%{
        transform:translateY(0px);
        opacity: 1;
    }
    100%{
        transform:translateY(20px);
        opacity:0;
    }
}